li, ol{
    background: grey;
    width: 100px;
    list-style: none;
    list-style-position: inside;
}
li{
    padding: 10px;
    list-style-type:none;
    display: inline-block;
    position: relative;
}
li::after > ol{
    content: " \00BB";
}
ol{
    display: none;
    position: absolute;
    left: 0px;
    top: 22px;
    max-width: 80px;
}
ol li{
    margin-left: -40px;
}
ol li ol{
    top: 0;
    background: orange;
    left: 100%;
}
li:hover{
    background: yellow;
}
li:hover > ol{
    display: block;
}

.containerImg{

}
img{
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 75px);
    width: 150px;
    height: 185px;
    animation: 2s fly infinite ease-in-out;
}

@keyframes fly{
    0%{
        top: calc(50% - 85px);
    }
    50%{
        top: calc(50% - 100px);
    }
    100%{
        top: calc(50% - 85px);
    }
}